---
const { title } = Astro.props;
---


<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
        {title !== "Home" && `${title} - `} JonasAllen.Codes
    </title>
</head>


<style>

</style>