---
import {Picture} from 'astro:assets'
import logoImage from '@images/jonasallencodes-logo.png'

interface Props {
  title?: string
}

const {title} = Astro.props
const ariaHiddenLogo = title === 'Home'
---

{
  title === 'Home' && (
    <h1 aria-hidden="false" style="display: none;">
      JonasAllen.Codes
    </h1>
  )
}
<a href="/" aria-hidden={ariaHiddenLogo}>
  <Picture src={logoImage} alt="JonasAllen.Codes" />

  <style></style></a
>
