---
import Picture from "astro/components/Picture.astro";
import logoImage from "../../images/jonasallencodes-logo.png";
---

<h1>
    <a href="/">
        <Picture src={logoImage} alt="JonasAllen.Codes">
    </a>
</h1>

<style>

</style>