---
import ContactForm from "../components/ContactForm.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

export const prerender = false;
---

<BaseLayout title="Home">
	<h2 style="text-align: center;">Under Construction...</h2>
	<p style="text-align: center;">Don't worry I'll be back better then ever! ;)</p>

	<ContactForm />
</BaseLayout>

<style>

</style>
