---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList.astro";
---

<BaseLayout title="Home">
	<h2 class="visuallyhidden">Home</h2>
</BaseLayout>

<style>

</style>
