---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList.astro";
---

<BaseLayout title="Home">
	<h2 class="visuallyhidden">Home</h2>
	<h3 style="text-align: center;">Under Construction...</h3>
	<p style="text-align: center;">Don't worry I'll be back better then ever! ;)</p>
</BaseLayout>

<style>

</style>
