---
import { Icon } from "astro-icon/components";
---

<footer>
    <a href="https://www.facebook.com/JonasAllen.Codes/" aria-label="Facebook profile" target="_blank">
        <Icon name="fa6-brands:facebook" size="5rem" />
    </a>
    <a href="https://www.instagram.com/jonasallen.codes/" aria-label="Instagram profile" target="_blank">
        <Icon name="fa6-brands:instagram" size="5rem" />
    </a>
    <a href="https://twitter.com/Jonasallen89595" aria-label="X/Twitter profile" target="_blank">
        <Icon name="fa6-brands:x-twitter" size="5rem" />
    </a>
</footer>

<style>
    footer  {
        padding: 1rem;
        border-top: solid;
        display: flex;
        justify-content: center;
        gap: 4rem;
    }
</style>