---

---

<header>
    <h1><a href="/">JonasAllen.Codes</a></h1>
    <nav>
        <ul>
            <li><a href="/test/">Test Link</a></li>
            <li><a href="/test/">Test Link</a></li>
            <li><a href="/test/">Test Link</a></li>
            <li><a href="/test/">Test Link</a></li>
        </ul>
    </nav>
</header>

<style>
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    header a {
        text-decoration: none;
    }
</style>