---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;

const foregroundColor = "#00be00";
const backgroundColor = "black"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <BaseHead title={title} />
	</head>
	<body>
        <Header css-vars={{ foregroundColor, backgroundColor }} />
        <main>
            { title != "Home" ? <h2>{title}</h2> : null }
            <slot />
        </main>
        <Footer />
	</body>
</html>

<style is:global define:vars={{ foregroundColor, backgroundColor}}>
	* {
		padding: 0;
		margin: 0;
	}
	body {
		background-color: var(--backgroundColor);
		color: var(--foregroundColor);
	}

	a {
		color: white;
	}

</style>